:root{
    --black-color: #2c2c2c
    --text-base-color: var(--black-color);
    --white-color: #fff;
    --text-invert-color: var(--white-color);
    --background-invert-color: var(--black-color);
    --accent-color: #FF88BB;
}
:after, :before{
    border-width: 0;
    box-sizing: border-box;
    border-style: solid;
}
a{
    text-decoration: none;
    color: inherit;
    background-color: transparent;
}
body{
    font-size: "Noto Sans JP", sans-serif;
    line-height: 1.5;
    color: var(--text-base-color);
    letter-spacing: 0.5em;
}
ul, li, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}
ul, menu, dir{
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
}
li {
    display: list-item;
    text-align: match-parent;
}
::marker{
    unicode-range: isolate;
    font-variant-numeric:   tabular-nums;
    white-space-collapse: preserve;
    text-wrap: nowrap;
    text-transform: none;
}

li{
    display: list-item;
    text-align: match-parent;
}
.top_wrapper{
    overflow: hidden;
}
.header {
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    pointer-events: none;
}

#preloader {
    background: #000;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 100;
}

#loader{
    background: url(../img/loader.gif) no-repeat center center;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -50px 0 0 -50px;
}
.header{
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    pointer-events: none;
}
.logo_wrapper {
    display: inline-block;
    padding-left: 10px;
    width: 156px;
    height: 60px;
}

.logo_wrapper img {
    margin-top: 4px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.header_nav{
    pointer-events: auto;
    height: 21px;
}

.header_list {
    display: flex;
    font-family: Raleway, sans-serif;
    font-size: .875rem;
    font-style: italic;
    font-weight: 700;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: .17em;
}
.header_item_li:not(:first-child){
    margin-left: 40px;
}

    
.header_item{
    position: relative;
    cursor: pointer;
    text-align: left;
    text-decoration: none;
    text-decoration-line: none ;
    list-style-type: none;
    list-style-position: outside;
    color: rgb(44, 44, 44);
}

.header_item:after{
    position: absolute;
    bottom: -6px;
    left: -5px;
    width: calc(100% + 7px);
    height: 2px;
    content: "";
    background-color: var(--text-base-color);
    transition: transform .2s ease;
    transform: scale(0);
    transform-origin: left top;
    border-width: 1px;
}
.header_item:hover{
    color: var(--text-base-color);
    text-decoration: none;
}
.header_item:hover:after{
    transform: scale(1);
}
.PHS{
    width: 92px;
    overflow: hidden;
    pointer-events: auto;
    transition: width .3s;
}
.PHSA{
    display: block;
    width: inherit;
    padding: 22px 20px;
    padding-left: 30px;
    color: var(--text-invert-color);
    text-indent: 2px;
    background-color: #2c2c2c;
    font-family: Raleway,sans-serif;
    font-size: .875rem;
    font-style: italic;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .17em;
}
.PHSA:hover{
    list-style-type: none;
    text-decoration: none;
    color: var(--text-invert-color);
}
.hero_image{
    background-image: url(../img/bg.jpg);
    position: relative;
    display: flex;
    align-items: flex-end;
    height: 0;
    padding-top: 56.25%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}


.intros{
    transition: 1s;
}

.case{
    width: 100%;
    padding-left: 7.5vw;
    padding-right: 7.5vw;
    transition: padding .3s ease;
}
.intro_wrapper{
    margin-top: 4vw;
    margin-bottom: 2vw;
}
.heading_wrapper{
    flex-direction: row;
    display: flex;
}
.h1_heading{
    color: var(--accent-color);
    font-family: Raleway,sans-serif;
    font-size: 6.25vw;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .24em;
    order: 2;
    z-index: 1;
    display: flex;
    mix-blend-mode: multiply;    
}
.intro{
    display: table;
}
.intro_word{
    display: inline-block;
    color: var(--accent-color);
    font-family: Raleway,sans-serif;
    font-size: 6.25vw;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .24em;    
}
.para{
    color: var(--accent-color);
    mix-blend-mode: multiply;
    writing-mode: vertical-rl;
    display: flex;
    font-family: Montserrat,sans-serif;
    font-size: 1.66vw;
    line-height: 1;
    letter-spacing: .27em;
    z-index: 1;
}
.para:before{
    position: relative;
    top: .5vw;
    left: .25vw;
    display: block;
    width: 1px;
    height: 3.66vw;
    margin-top: .4vw;
    margin-bottom: 1.66vw;
    content: "";
    background-color: var(--accent-color);
    margin-right: 1vw;
}
video{
    object-fit: contain;
    content: normal;
}
.video_intro{
    width: 51.5vw;
    height:   29vw  ;
}
.intro_content{
    display: flex;
    margin-top: -11.25vw;
    font-family: Noto Sans JP,sans-serif;
    line-height: 1.5;
    color: var(--text-base-color);
    letter-spacing: .05em;
}
.intro_textwrapper{
    position: relative;
    top: 4vw;
    left: -12px;
    margin-right: 24px;
    margin-bottom: 24px;
    mix-blend-mode: multiply;
}
.intro_desctext{
    display: table;
    padding: 0 24px;
    font-size: 1.625rem;
    font-weight: 700;
    line-height: 2;
    letter-spacing: .1em;
    background-color: var(--accent-color);
    transform-origin: left;
}
.intro_desc{
    margin-top: 16px;
    margin-left: 24px;
}
.intro_descwrapper{
    font-size: 1rem;
    line-height: 2;
    white-space: pre-wrap;
}
.titlep{
    margin-bottom: 0px;
    font-weight: 900;
}